net "bcd<0>" loc = g18;
net "bcd<1>" loc = h18;
net "bcd<2>" loc = k18;
net "bcd<3>" loc = k17;
net "clk" loc = b8;
net "sel<0>" loc = n17;
net "sel<1>" loc =r17;
net "anodes<0>" loc = f17;
net "anodes<1>" loc = h17;
net "anodes<2>" loc = c18;
net "anodes<3>" loc = f15;
net "decode<0>" loc = l18;
net "decode<1>" loc = f18;
net "decode<2>" loc = d17;
net "decode<3>" loc = d16;
net "decode<4>" loc = g14;
net "decode<5>" loc = j17;
net "decode<6>" loc = h14;